[user]
	email = omerx.dagan@intel.com
	name = Omer Dagan
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.office365.com
	smtpuser = omer.dagan@tandemg.com
	smtpserverport = 587
[color]
	ui = auto
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
	gitproxy = /home/omerdagx/bin/gitproxy
[push]
	default = matching
[diff]
	tool = bc3
[difftool]
	bc3 = trustExitCode
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode


[alias]
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	mail = send-email --chain-reply-to --thread --compose --from=omer.dagan@tandemg.com
[review "https://git-ger-8.devtools.intel.com/gerrit"]
	username = omerdagx
